body {
  background: linear-gradient(45deg, #774F38, #ECE5CE);
  font-family: 'Noto Sans', sans-serif;
  color: #515151;
}

.nav{
  background-color: #E08E79;
}

.nav-link, a{
  color: #ECE5CE;
  font-family: 'Noto Sans', sans-serif;
}
.nav-link:hover, a:hover{
  color: #C5E0DC;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jumbotron{
  background-color: rgba(197,224,220, 0.6);

}

.btn{
  background-color: #C5E0DC;
  border-color: #C5E0DC;
  color: #E08E79;
  font-family: 'Noto Sans', sans-serif;
}

.btn:hover{
  background-color:  #E08E79;
  border-color:  #E08E79;
  color: #ECE5CE;
  font-family: 'Noto Sans', sans-serif;
}

.styled-box{
  background-color: rgba(197,224,220, 0.6);
  display: flex;
  flex-direction: column;
  padding: 2%;

}

.box-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image{
  padding: 2%;
}

.footer {
  color: #ECE5CE;
  background-color: #E08E79;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerimg{
  max-height: 100px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}

.quotecard{
  border-radius: 25px;
  margin: 2.5%;
  background-color: white;
}

.blockquote{
  border-left: none;
}


#mailbox{
float: right;
  clear:right;
}

#headerbox{
  display: flex;
  justify-content: center;
}

h1{
  font-family: 'Paytone One', sans-serif;
}
